
.hero-button{
    padding-left:2%;
    padding-right: 2%;
}

.header-top-buttons{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.template-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 5rem;
    margin-left: 0.5rem;
}

.black-button {
    background: black;
    color: white;
}

.purple-button{
    background: rgb(230, 132, 230);
    color: rgb(49, 49, 49);
}

.white-button{
    background: white;
    color: black;
}

.navy-blue-button{
    background: #003180;
    color: white;
}

.supporters-donate{
    margin-right:3%;
}

.socials-interact-button{
    margin-top: 10%;
    font-size: 24px;
    text-wrap: nowrap;
    padding: 2rem, 15rem;
}