
.font-header{
    font-family:"IBM Plex Sans", sans-serif;
}

.font-header-size{
    font-size: 64px;
}

.font-text{
    font-family:"Nunito", sans-serif;
}

.header-top-buttons{
    font-size: 14px;
}
.font-header-links{
    color: #4b4b4b;
}

.sub-menu-text{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.bold{
    font-weight: bold;
}

.header-top-font{
    font-weight: 500;
}
.header-bottom-font{
    font-size: 18px;
    font-weight: 600;
}

.supporters-header{
    color:white;
    font-size: 48px;
    margin-right: 1%;
    margin-left: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.programs-info-description{
    text-wrap: normal;
    font-weight: 500;
    font-size: 24px;
}
