.about-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

img{
    display: block;
    height: auto;
    box-sizing: inherit;
}

.hero-image{
    position:absolute;

    bottom:0;
    right:-150px;

    max-width:850px;

    z-index: 0;
}

.hero-image-container{
    width:40%;
    height: 100%;
    position:relative;
}


.Header-branding-logo {
    width: 100%;
    object-fit: cover;  
}


.program-mosiac-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 480px;
    gap: 2rem;
}

.program-mosiac-item{
    margin-left: 3rem;
    margin-right: 3rem;

    display:flex;
    justify-content: flex-end;
    flex-direction: column;

    color: white;
}

.program-mosiac-container {
    article:nth-child(1){
        background-image:
            linear-gradient(
                to top,
                rgba(243, 142, 9, 0.99) 10%,
                rgba(231, 144, 12, 0) 40%,
                rgba(236, 161, 11, 0) 100%
        ),
        url('https://static.vecteezy.com/system/resources/previews/040/973/670/non_2x/funny-red-number-one-1-cartoon-character-showing-hand-number-one-vector.jpg');

    }
}

.program-mosiac-container {
    article:nth-child(2){
        background-image:
            linear-gradient(
                to top,
                rgba(233, 13, 130, .99) 10%,
                rgba(229, 9, 218, 0) 40%,
                rgba(232, 12, 247, 0) 100%
        ),
        url('https://preview.redd.it/zombies-front-facing-looks-weird-in-that-replanted-trailer-v0-acsv94byvvbg1.jpeg?width=942&format=pjpg&auto=webp&s=577e03c7cfcd5977e7aa802fb21162c261ab8180');

    }
}

.program-mosiac-container {
    article:nth-child(3){
        background-image:
            linear-gradient(
                to top,
                rgba(21, 10, 233, .99) 10%,
                rgba(45, 9, 229, 0) 40%,
                rgba(19, 74, 226, 0) 100%
        ),
        url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR213q60cOFvxlUjUkkVqKOofMyd2XbXojwPE2A8IYAZ12D7_ncWdvk7kM&s=10');
    }
}

.program-mosiac-container article{
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 15rem;
    height: 95%;

    position: relative;
    overflow: hidden;

    border-radius: 1rem;
    border: 3px solid white;
}

.about-image{
    object-fit: cover;
}
.about-image-container{
    position:relative;
}

.socials-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.socials-image{
    object-fit:cover;
    width:100%;
    height: 250px;

}