.about-image{
    width: 80%;
    height: 80%;
    object-fit: cover;
    z-index: 0;
}

img{
    display: block;
    height: auto;
    box-sizing: inherit;
}

.hero-image {
    position:absolute;
    bottom:0;
    right:-200px;

    width:min(810px, 60vw);
    height:auto;

    z-index:0;
}

.hero-image-container{
    width:40%;
    height: 100%;
    position:relative;
}


.Header-branding-logo {
    height: 70px;
    width: auto;
}

.kadence-arrow-svg{
    background-image: url("images/image-arrow-down.svg");
    aspect-ratio: 1/1;
    max-width: 10px;
    width: 10px;
    max-height: 10px;
    max-height: 10px;
    padding-left: .5rem;
    padding-bottom: .25rem;
}


.program-mosiac-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 480px;
    gap: 2rem;
    width: max-content;
}

.program-mosiac-item{
    margin: 0;

    flex: 0 0 15rem;

    display:flex;
    justify-content: flex-end;
    flex-direction: column;

    color: white;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 15rem;
    height: 80%;

    position: relative;
    overflow: hidden;

    border-radius: 1rem;
    border: 3px solid white;
}

.program-mosiac-container-1{

    background-image:
        linear-gradient(
            to top,
            rgba(243, 142, 9, 0.99) 10%,
            rgba(231, 144, 12, 0) 40%,
            rgba(236, 161, 11, 0) 100%
    ),
    url('../images/Image_About_1.png');
}

.program-mosiac-container-2 {
    background-image:
        linear-gradient(
            to top,
            rgba(233, 13, 130, .99) 10%,
            rgba(229, 9, 218, 0) 40%,
            rgba(232, 12, 247, 0) 100%
    ),
    url('../images/Image_About_2.png');
}

.program-mosiac-container-3 {
    background-image:
        linear-gradient(
            to top,
            rgba(21, 10, 233, .99) 10%,
            rgba(45, 9, 229, 0) 40%,
            rgba(19, 74, 226, 0) 100%
    ),
    url('../images/Image_About_3.png');
}

.program-mosiac-container-4{
    background-image:
        linear-gradient(
            to top,
            rgba(104, 100, 177, 0.99) 10%,
            rgba(45, 9, 229, 0) 40%,
            rgba(19, 74, 226, 0) 100%
    ),
    url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0205e711-4add-457c-aec5-7163dd0ca612/djgwzrg-52efa153-8f60-4e3a-9dec-c9312d576fbd.png/v1/fill/w_1092,h_614/superman___png_by_gmg616_djgwzrg-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjE0IiwicGF0aCI6Ii9mLzAyMDVlNzExLTRhZGQtNDU3Yy1hZWM1LTcxNjNkZDBjYTYxMi9kamd3enJnLTUyZWZhMTUzLThmNjAtNGUzYS05ZGVjLWM5MzEyZDU3NmZiZC5wbmciLCJ3aWR0aCI6Ijw9MTA5MiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.mCQ4k32k5dsc8aX4q-dGDuEv7kBO-khcormR1FSOJdE');
}

.program-mosiac-container-5{
    background-image:
        linear-gradient(
            to top,
            rgba(10, 233, 155, 0.99) 10%,
            rgba(45, 9, 229, 0) 40%,
            rgba(19, 74, 226, 0) 100%
    ),
    url('https://img.magnific.com/free-photo/single-banana-isolated-white-background_839833-17794.jpg');
}

.about-image{
    object-fit: cover;
    margin-left: 5rem;
}
.about-image-container{
    position:relative;
    max-width: 35rem;
}

.socials-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-inline: auto;
}

.socials-image{
    object-fit:cover;
    width:100%;
    height: auto;

}


.member-statement-bottom {
    grid-column: 1 / -1;
    justify-self: center;
    width: calc(50% - 10px);
}

.footer-row-social-image{
    width: 1rem;
    height: auto;

    aspect-ratio:1/1;
    object-fit: cover;
    display: block;
}

.donate-button{
    max-width: 75%;
    height: auto;
}
